<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="WEB_TRUYENConnectionString" connectionString="Data Source=truyen.duyvo26.xyz,1433;Initial Catalog=WEB_TRUYEN;User ID=webtruyen;Password=1234567" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--  <httpRuntime targetFramework="4.5" /> -->
    <!-- cau hinh send html post:get -->
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="404" />
    </customErrors>
    <!-- end cau hinh send html post:get  -->
    
  </system.web>
   <!-- den trang loi -->
  <system.webServer>
      <httpErrors errorMode="Custom">
         <remove statusCode="404"/>
        <error statusCode="404" path="/404" responseMode="ExecuteURL"/>
      </httpErrors>
   </system.webServer>


  <!-- <system.webServer> <modules runAllManagedModulesForAllRequests="true" /> </system.webServer> -->
</configuration>